.btn {
  -webkit-appearance: none;
  @include border-radius(90px);
  @include transition(all 0.3s);
  position: relative;
  color: $colorSimple;
  text-align: center;
  color: $colorWhite;
  font-family: $fontMain;
  font-size: 18px;
  font-weight: 800;
  padding: 15px 30px;
  border: solid 4px $colorRed;

  &:hover {
    background-color: $colorRed;
    color: $colorWhite;
  }

  svg {
    path {
      @include transition(all 0.3s);
    }
  }

  &--blue {
    background-color: $colorBlue;
    border: solid 3px $colorBlue;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  &--white {
    background-color: $colorWhite;
    border: solid 3px #e6e9eb;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: $colorBlue;

    &:hover {
      svg {
        path {
          stroke: $colorWhite;
        }
      }
    }
  }

  &--gray {
    background-color: #e6e9eb;
    color: $colorBlue-a5;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    border-color: #e6e9eb;

    &:hover {
      color: $colorBlue;
      background-color: #f0f2f3;
    }

    &:active {
      background-color: #e6e9eb;
    }
  }
}
