@media (max-width: 639px) {
  .grettings-page .caption {
    font-size: 40px;
    line-height: 40px;
  }

  .grettings-page::before {
    width: 150px;
    height: 150px;
    top: calc(100% - 53px);
    left: calc(0% - 20px);
  }

  .thanks-block {
    background-position: calc(50% - 90px) center;
  }

  .sliderPrices .swiper-slide {
    border-radius: 32px;
  }

  .sliderPrices .colPrices .line:nth-child(1) {
    font-size: 16px;
    line-height: 20px;
    min-height: initial;
  }

  .invisTitle .name {
    font-size: 10px;
  }

  .invisTitle .desc {
    font-size: 10px;
    line-height: 13px;
    color: rgba(141, 141, 141, 1);
  }

  .invisTitle .title {
    font-size: 14px;
  }

  .invisTitle .invistTitleDiv {
    padding-left: 0;
    padding-top: 0;
  }

  .invisTitle .invistTitleDiv + .invistTitleDiv {
    display: none;
  }

  .invisTitle {
    width: 130px;
  }

  .sliderPrices {
    width: calc(100% + 80px);
  }

  .sliderPrices .colPrices ul li + li {
    margin-top: 14px;
  }

  .sliderPrices .colPrices ul {
    margin-top: 20px;
  }

  .sliderPrices .colPrices .line {
    padding: 10px 5px;
  }

  .sliderPrices .colPrices .btn {
    margin-top: 20px;
  }

  .sliderPrices .colPrices .count {
    padding: 6px;
  }

  .sliderPrices .colPrices .price {
    font-size: 20px;
    line-height: 25px;
  }

  .pricesBlock__controls {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }

  .pricesBlock__col {
    font-size: 16px;
    line-height: 20px;
  }

  .pricesBlock {
    overflow: hidden;
  }
}

@media (max-width: 479px) {
  .contacts-page__social {
    margin-right: 0;
  }

  .thanks-block {
    background-position: calc(50% - 150px) center;
  }

  .example-small {
    .example-block {
      height: 215px;

      &--default {
        .example-element {
          &:nth-child(1) {
            width: 160px;
            height: 180px;
            right: -20px;
            top: -48px;
          }
          &:nth-child(2) {
            width: 210px;
            height: 210px;
            bottom: -39px;
            left: -30px;
          }
        }
      }

      &--artLend {
        .example-element {
          &:nth-child(1) {
            width: 200px;
            height: 200px;
            right: -20px;
            top: -28px;
          }
          &:nth-child(2) {
            width: 240px;
            height: 240px;
            bottom: -29px;
            left: -50px;
          }
        }
      }

      &--Moon {
        .example-element {
          &:nth-child(1) {
            width: 205px;
            height: 187px;
            right: -22px;
            top: -53px;
          }
          &:nth-child(2) {
            width: 290px;
            height: 170px;
            bottom: -25px;
            left: -34px;
          }
        }
      }

      &--BUR {
        .example-element {
          &:nth-child(1) {
            width: 234px;
            height: 172px;
            bottom: -28px;
            left: -50px;
          }
          &:nth-child(2) {
            width: 168px;
            height: 208px;
            right: -10px;
            top: -66px;
          }
          &:nth-child(3) {
            width: 148px;
            height: 114px;
            right: -41px;
            bottom: -30px;
          }
        }
      }

      &--OSQ {
        .example-element {
          width: 410px;
          height: 430px;
          left: calc(50% - 237px);
          bottom: -100px;
        }
      }
    }
  }
}

@media (max-width: 389px) {
}

// height
@media (max-height: 350px) {
  .tabs-block__close {
    margin-bottom: -30px;
  }

  .tabs-list {
    min-height: 59px;
  }
}
