@media (max-width: 1199px) {
  .burger {
    display: flex;
  }

  .menu {
    display: none;
  }

  .grettings {
    background-image: url(../img/bg-lines.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(5, 38, 54);
    background-attachment: fixed;
  }
  .grettings .caption {
    font-size: 35px;
    line-height: 45px;
  }

  .grettings .caption strong {
    font-size: 85px;
    line-height: 90px;
    letter-spacing: -4px;
  }

  .grettings .caption svg {
    width: 40px;
    height: 40px;
  }

  .grettings__text {
    font-size: 18px;
    line-height: 25px;
  }

  .logo-bittix {
    top: 60px;
  }

  h2.caption {
    font-size: 60px;
    line-height: 65px;
  }

  .service-list {
    margin-top: 70px;
  }

  .service-section {
    padding-bottom: 50px;
  }

  .fullpage-grettings::before {
    display: none;
  }

  .example-section {
    padding: 50px 30px 0;
  }

  .example-section__center {
    margin-left: -150px;
    width: 350px;
    top: 50% !important;
    margin-top: -290px;
  }

  .example-section__content {
    margin-top: 100px;
  }

  .example-section__left {
    max-width: 347px;
  }

  .example-section__bottom {
    margin-top: 50px;
  }

  .fullpage-section:nth-child(5) .example-section__center,
  .fullpage-section:nth-child(3) .example-section__center {
    margin-left: -200px;
    width: 350px;
  }

  .about-presentation__icon {
    width: 260px;
  }

  .about-presentation {
    padding: 30px;
  }

  .contact-form__content input {
    max-width: 470px;
  }

  .contact-form__content .phone-input {
    max-width: 250px;
  }

  .fullpage-default {
    color: rgb(5, 38, 54);
    padding: 0 30px;
  }

  .fullpage-grettings {
    overflow: hidden;
  }

  .contact-form__content {
    padding: 30px;
  }

  .fileLoad {
    label {
      font-size: 20px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .fileLoad__text {
    font-size: 16px;
  }

  .submit-form__text {
    gap: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .submit-form {
    font-size: 14px;
  }

  .footer .social {
    gap: 30px;
  }

  .footer {
    justify-content: center;
    gap: 20px 75px;
    padding: 30px 0;
  }

  .grettings-page {
    min-height: 350px;
    padding-bottom: 50px;
  }

  .contacts-page__caption {
    font-size: 30px;
    line-height: 30px;
  }

  .contacts-page__item {
    font-size: 20px;
    line-height: 22px;
  }

  .contacts-page__social {
    gap: 30px;
    margin-left: 50px;
  }

  .contacts-page__social svg {
    width: 25px;
    height: 25px;
  }

  .contacts-page__title {
    margin-bottom: 20px;
  }

  .contacts-page__map {
    @include border-radius(36px);
  }

  .contacts-page {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .form-question__content {
    padding: 30px;
  }

  .form-question .caption {
    line-height: 60px;
  }

  .form-question input {
    height: 70px;
  }

  .form-question__right {
    width: 100%;
    max-width: 500px;
  }

  .form-question__bottom {
    padding: 30px;
    font-size: 24px;
    line-height: 27px;
  }

  .not-page .caption {
    font-size: 100px;
    line-height: 100px;
  }

  .not-page .marquee-block {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .page-error {
    font-size: 20px;
    line-height: 30px;
  }

  .about-section__left {
    font-size: 18px;
    line-height: 24px;
    max-width: 485px;
  }

  .about-section__right {
    padding: 30px 10px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .caption {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }

  .about-section__right ul li {
    padding-left: 60px;
  }

  .task-slider {
    margin-top: 70px;
    font-size: 14px;
    line-height: 20px;
  }

  .about-page {
    .about-main {
      padding-top: 100px;
      gap: 50px;
    }

    .state-section {
      padding: 100px 0;
    }
  }

  .structure-company__line .caption {
    font-size: 30px;
    line-height: 30px;
  }

  .structure-company__name {
    font-size: 22px;
    line-height: 24px;
  }

  .structure-company__item li + li {
    margin-top: 10px;
  }

  .structure-company__item ul {
    margin-top: 20px;
  }

  .structure-company__caption {
    margin-bottom: 50px;
  }

  .structure-company__row {
    margin-top: 70px;
  }

  .structure-company__col {
    padding: 30px;
  }

  .structure-company__bl {
    width: 225px;
  }

  .structure-company__item li {
    padding-left: 30px;
  }

  .structure-company__col + .structure-company__col {
    margin-top: 50px;
  }

  .certificates-slider__picture img {
    width: 350px;
  }

  .certificates-slider__picture {
    @include border-radius(36px);
  }

  .certificates-slider__content {
    width: calc(50% - 35px);
    padding-left: 30px;
  }

  .certificates-slider__link {
    font-size: 20px;
    line-height: 30px;
    gap: 20px;
  }

  .certificates-slider__name {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .certificates-slider__link {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    gap: 10px;

    svg {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }
  }

  .letters-client .caption:not(.job-name) {
    max-width: 50%;
    line-height: 65px;
  }

  .letters-client__controls {
    margin-left: -40px;
  }

  .job-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .job-slider__content {
    font-size: 18px;
    line-height: 22px;
  }

  .other-letters__list {
    grid-template-columns: 1fr;
  }

  .other-letters{
    padding: 100px 0;
  }

  .grettings-state__data{
    font-size: 40px;
    line-height: 40px;
  }

  .grettings-state{
    font-size: 24px;
    line-height: 24px;
    gap: 50px;
  }
}
