$colorWhite: rgba(255, 255, 255, 1);
$colorWhite-a5: rgba(255, 255, 255, 0.5);
$colorBlack: rgba(0, 0, 0, 1);

$fontMain: "Geologica";

$colorSimple: #333333; // #333
$colorRed: rgb(225, 48, 63); // #e1303f
$colorBlue: rgb(5, 38, 54); //#052636
$colorBlue-a3: rgba(5, 38, 54, 0.3);
